[workspace]

members = [
    "extern_type_callback_derive",
    "resource_main_macro",
    "altv_sdk",
    "resource_impl",
    "altv_module",
    "altvx",
    "example_resource",
]

[workspace.dependencies]
cxx = "1.0.91"
