name: Test

on:
  push:
    branches: "*"
  pull_request:

jobs:
  test-linux:
    runs-on: ubuntu-22.04

    if: ${{ !startsWith(github.event.head_commit.message, 'release new version:') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Doc tests
        run: |
          cargo test --doc

      - name: Server Test
        env:
          ALTV_BRANCH: ${{ github.ref_name }}
        run: |
          cargo run --bin run_test

  test-windows:
    runs-on: windows-2022

    if: ${{ !startsWith(github.event.head_commit.message, 'release new version:') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Doc tests
        shell: cmd
        # temp workaround https://github.com/google/autocxx/issues/1327
        run: |
          set PATH=%PATH:C:\Program Files\LLVM\bin;=%
          echo %PATH%
          cargo test --doc

      - name: Server Test
        env:
          ALTV_BRANCH: ${{ github.ref_name }}
        shell: cmd
        # temp workaround https://github.com/google/autocxx/issues/1327
        run: |
          set PATH=%PATH:C:\Program Files\LLVM\bin;=%
          echo %PATH%
          cargo run --bin run_test
